<div fxFlex fxLayout="column" fxLayoutAlign="end" class="background" [style.background-image]="backgroundImage">
    <!--<div fxLayout="column">
        <div fxFlex="100px" fxLayout class="testimony">
            <img flex class="testimony_logo" src="{{testimonies[testimonyIndex].hotelLogolUrl}}">
            <div fxLayout="column">
                <div fxFlex="50px">{{testimonies[testimonyIndex].personName + " " + testimonies[testimonyIndex].personPosition}}</div>
                <div fxFlex="40px">{{testimonies[testimonyIndex].story}}</div>
            </div>
        </div>
        <div fxFlex="40px" fxFlex.xs="20px"></div>
        <div fxLayout fxLayoutAlign="center center">
            <div *ngFor="let testimony of testimonies; let i = index">
                <input type="radio" name="group" id="{{i}}" [checked]="i == testimonyIndex">
                <label for="{{i}}" (click)="changeTestimony(i)"></label>
            </div>
        </div>
        <div fxFlex="40px" fxFlex.xs="20px"></div>
    </div>-->
</div>