/* component */
:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* logo */
.logo{
  background-image: url(../../../assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;    

  min-height: 100px;
  margin-bottom: 40px;
}


/* login-card */
.login-card{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 18px;
  min-height: min-content;
}
.login-card div:nth-child(1){
  color:#03a9f4;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.login-card div:nth-child(2){
  margin-top: 30px;
}
.login-card div:nth-child(3){
  color:red;
  text-align: center;
}
.login-card div:nth-child(4){
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

/* forgot-password */
.forgot-password{
  padding-top: 20px
}
.forgot-password a{
  color: black;
}
.forgot-password a:visited{
  color: black;
}