<div fxFlex fxLayout="column" fxLayoutAlign="center">
  <div fxFlex="15" fxFlex.xs="5"></div>
  <div fxFlex fxLayout="row">
    <div fxFlex="20"></div>
    <div fxFlex fxLayout="column">

      <div fxFlex fxFlex.xs="20" class="logo"></div>

      <md-card fxLayout="column" class="login-card">
        <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword($event)">
          <div>{{title}}</div>
          <div fxLayout="column">
            <md-input-container>
              <input mdInput type="password" formControlName="newPassword" placeholder="Nueva contraseña">
            </md-input-container>
            <md-input-container>
              <input mdInput type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña">
            </md-input-container>
          </div>
          <div><span *ngIf="errorMessage != null">{{ errorMessage }}</span></div>
          <div fxLayout="column">
            <button md-raised-button color="primary" [disabled]="newPasswordForm.disabled">CONTINUAR</button>
          </div>
        </form>
      </md-card>

      <div fxFlex fxFlex.xs="0" align="center" class="forgot-password">
        <a routerLink="/login">Volver al inicio de sesión</a>
      </div>

    </div>
    <div fxFlex="20"></div>
  </div>
  <div fxFlex="15" fxFlex.xs="4"></div>
</div>